$color-mainbg: hsl(233, 47%, 7%);
$color-cardbg: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);
$color-white: hsl(0, 0%, 100%);
$color-mainp: hsla(0, 0%, 100%, 0.75);
$color-stathd: hsla(0, 0%, 100%, 0.6);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1440px;
    min-height: 100vh;
    background-color: $color-mainbg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-family: Inter, sans-serif;
    color: $color-white;
    @media all and (max-width: 800px)
    {
        min-height: 140vh;
    }
}
// body
.component {
    display: flex;
    flex-direction: row-reverse;
    max-width: 65rem;
    border-radius: 0.5rem;
    background-color: $color-cardbg;
    overflow: hidden;

    @media all and (max-width: 800px)
    {
        max-width: 88%;
        min-height: 110vh;
        flex-direction: column;
    }
    .proj-prev {
        padding: 4rem 7rem 4rem 4rem ;
        max-width: 50%;
        display: flex;
        flex-direction: column;

        @media all and (max-width: 800px)
        {
            padding: 2rem;
            max-width: 100%;
            text-align: center;
            h1{
                font-size: 26px;
            }
            .table{
                padding-top: 1rem;
                flex-direction: column;
                gap: 2rem;
            }
        }
        .purple-word {
            color: $color-accent;
        }
        p {
            color: $color-mainp;
            line-height: 1.8rem;
            margin-top: 2rem;
            font-weight: 400;
            font-size: .9rem;
        }
    } //proj-prev

    .table {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        list-style: none;
        &__number {
            font-size: 24px;
            font-weight: 700;
            display: block;
        }
        &__description {
            font-family: Lexend Deca, sans-serif;
            text-transform: uppercase;
            color: $color-stathd;
            font-size: 12px;
        }
    } //table
        


    .image {
        background-color: $color-accent;
        img{
            mix-blend-mode:multiply;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .6;
        }
    } //image
    
} //component